@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    @apply absolute w-full h-full duration-500 pointer-events-none;
    transition-timing-function: cubic-bezier(0.1, 0.66, 0.28, 0.86);
}

section {
    perspective: 2300px;
    @apply bg-blue-900 bg-opacity-70;
}

body {
    /* min-width: 100vw;
    min-height: 100vh; */
}

h1.bonus {
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
        -1px 1px 0 #000, 1px 1px 0 #000;
}

@supports (-webkit-text-stroke: 1px black) {
    h1 {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
    }
}

@font-face {
    font-family: bloodCrow;
    src: url('../assets/blood-crow.ttf');
}
@font-face {
    font-family: onePiece;
    src: url('../assets/one\ piece\ font.ttf');
}
